<!DOCTYPE html>
<%= erb( :board, :locals => { :images => @presenter.images }) %>
<p> <%= @presenter.results %> </p>

<form action="/" method='get'><button type='submit' class='btn btn-primary'>New Game!</button></form>
